{% extends "frame.html" %}
{% block body %}

    <h2>Home</h2>
    
    <a href="json">Erster Test mit Json</a> <br />
    <a href="visual">Visualisierung</a><br />
    <a href="kmeans">Kmeans</a><br />
    <a href="drawOne/maga">Einzelner Hashtag</a><br />
    <a href="drawAll">Alle Hashtags</a>    
    
{% endblock %}
