{% extends "frame.html" %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-*">

                {% for id in ids %}
                    <div id="{{ id }}"></div>
                {% endfor %}

            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};
        for (var i in graphs) {
            Plotly.plot(ids[i], // the ID of the div, created above
                    graphs[i].data,
                    graphs[i].layout || {});
        }
    </script>

{% endblock %}
