{% extends "frame.html" %}
{% block body %}

    <style type="text/css">
    body {
      margin: 0;
    }
    #container {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    </style>

    <div id="container"></div>

    <script src="{{ url_for('static', filename='sigma.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sigma.parsers.json.min.js') }}"></script>
    <script src="{{ url_for('static',filename='sigma.layout.forceAtlas2.min.js')}}"></script>
    <script>
      var settings = new sigma.classes.configurable({});
            var s = new sigma({
                container: 'container',
                settings: {
                    edgeHoverPrecision: 100,
                    minNodeSize: 2,
                    maxNodeSize: 25,
                    labelThreshold: 4
                }
            });

        s.graph.read({{ content | safe }})
        var config = {
                edgeWeightInfluence: 0,
                gravity: .1,
                barnesHutOptimize: false,
                strongGravityMode: true,
                scalingRatio: 30,
                linLogMode: true
                //adjustSizes: true
            };
        s.startForceAtlas2(config);
        setTimeout(function () {
            s.startForceAtlas2()
        },10000);
        s.refresh();
    </script>

{% endblock %}